.team-wrapper{
    padding-top: 45px;
    padding-bottom: 150px
}


@media (max-width: 991px) {
    .team-wrapper {
        padding-top: 30px;
        padding-bottom: 70px;
    } 
}
@media (max-width: 768px) {
    .team-wrapper{
        padding-top: 20px;
        padding-bottom:45px
    }
}