@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 700;
}

h2{
  font-size: 48px;
}
h3 {
  font-size: 24px;
}
.page-padding{
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 991px) {
  .page-padding{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  h2 {
    font-size: 40px
  }
}
@media (max-width: 768px) {
  .page-padding{
    padding-top:40px;
    padding-bottom: 40px;
  }
  h2{
    font-size: 36px
  }
}

